<body class="body-500">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>LỖI 500</h1>
            <div class="error-divider">
                <h2>ooops!!</h2>
                <p class="description mt-5">KHÔNG THỂ TRUY CẬP ĐẾN MÁY CHỦ</p>
            </div>
            <a href="/" class="return-btn"><i class="fa fa-home"></i>Trang chủ</a>
        </section>
    </div>
    <!--Basic Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="assets/js/beyond.min.js"></script>

    
</body>
