<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <app-bread-crumb></app-bread-crumb>
            <router-outlet>

            </router-outlet>
        </div>
    </div>
</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<app-loadding *ngIf="authService.loading"></app-loadding>