<div class="app-content content" style="margin-left : 0 !important;">
    <div class="header-navbar-shadow" style="display: none;"></div>
    <div class="content-wrapper" style="padding: 0 !important; margin-top: 0 !important">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-xl-8 col-11 d-flex justify-content-center">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-12 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Đăng nhập</h4>
                                        </div>
                                    </div>
                                    <p class="px-2">Welcome back, please login to your account.</p>
                                    <div class="card-content">
                                        <div class="card-body pt-1">
                                            <form [formGroup]="formGroup">
                                                <fieldset
                                                    class="form-label-group form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" id="user-name"
                                                        formControlName="phoneNumber" required>
                                                    <div class="form-control-position">
                                                        <i class="feather icon-user"></i>
                                                    </div>
                                                    <label for="user-name">Email</label>
                                                </fieldset>

                                                <fieldset class="form-label-group position-relative has-icon-left mt-2">
                                                    <input type="password" formControlName="password"
                                                        class="form-control" id="user-password">
                                                    <div class="form-control-position">
                                                        <i class="feather icon-lock"></i>
                                                    </div>
                                                    <label for="user-password">Mật khẩu</label>
                                                </fieldset>
                                                <button type="submit mb-2" style="margin-bottom: 20px;"
                                                    (click)="login()"
                                                    class="btn btn-primary float-right btn-inline">Login</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>